/* table of content */
/* #2B2B2B - #7C6A0A - 868784 - ffffff - ffbf46 */
/*
1. Section Settings & nav bar
2. Section Carousel
3. Section blog
4. section footer
5. section page-title
6. section timeline
*/


/* Section Settings */

html,
body {
    height: 100%;
    padding-top: 35px;
}

.bg-alpha{
    background: rgb(0, 0, 0, 0.8);
}
.bg-drop{
    background-color: rgba(126, 123, 123, 0.8);
    color: #ffffff;
}
.border-short-bottom {
    position: relative;
    padding: 20px 0;
    margin-bottom: 25px;
}

.border-short-bottom::after {
    position: absolute;
    content: "";
    width: 120px;
    height: 2px;
    bottom: 0;
    left: 50%;
    margin-left: -60px;
    background: #ffffff;
}


/* section carousel */
/* .carousel
.carousel-inner
.carousel-item
.carousel-item .active{
    height: 450px;
    width: 100%;
} */

/* @media (min-width: 576px) {
    .carousel-item img {
        width: auto !important;
        height: 400px;
        max-height: 400px;
    }
} */

/* Section Blog */

.warpper-card-img {
    position: relative;
    overflow: hidden;
}

.warpper-card-img::after {
    content: '';
    padding-top: 56.25%;
    display: block;
    height: 0;
}

.warpper-card-img img {
    position: absolute;
    top: 0;
    transition: 1s;
}

.warpper-card-img img:hover {
    transform: scale(1.2)
}

/* section footer */
.semi-footer{
    background-color: #2b2b2b;
    color: #ffffff;    
}

.semi-footer a{
    color: #ffffff;
}

/* .semi-footer h4{
    border-bottom: 2px solid;
    padding: 10px 0;
} */

.footer{
    background-color: #2b2b2b;
    color: #ffffff;
    font-size: 0.7rem;
    height: 90px;
    line-height: 90px;
    text-align: center;
}

footer a{
    color: #ffffff;
}
/* section page-title */
.page-title{
    position: relative;
    display: block;
    padding-top: 250px;
    padding-bottom: 100px;
    color: #ffffff;
}

/* section timeline */
.timeline{
    list-style: none;
    position: relative;
    padding: 20px 0;
    
}

.timeline >li{
    position: relative;
    margin-bottom: 40px;
}

.timeline::before{
    content: " ";
    width: 2px;
    background: #2b2b2b;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -1px;
}

li>.timeline-badge{
    position: absolute;
    width: 18px;
    height: 18px;
    border: 3px solid #84ba3f;
    left: 50%;
    margin-left: -9px;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0 0 0 5px #ffffff;
    top: 15px;
}

li>.timeline-badge::before{
    position: absolute;
    content: " ";
    top: 5px;
    right: 20px;
    width: 25px;
    height: 2px;
    background: #2b2b2b;
}



li>.timeline-badge p{
    width: 200px;
    margin-top: -9px;
    margin-left: 25px;
    font-size: 17px;
    font-weight: bold;
}



li>.timeline-card {
    position: relative;
    width: 46%;
    float: left;
    text-align: left;
    padding: 0 10px;
}

.timeline>li::after {
    content: "";
    clear: both;
    display: block;
}





